
#site{
	min-width: 800px;
	max-width:1100px;
}
body {
	margin: 0;
	 font-family:'Fairymuffinroundpop' ; 
	line-height: 1.6;
	font-size: 15px;
}



.top{
	width: 100%;
	min-width: 800px;
	max-width:1100px;
	height: 400px;
	margin: 0;
	margin-top: 0;
	border: 0;
	overflow: hidden;
	background: linear-gradient(180deg, #FFB3B8,#ffffff);
	text-align: center;
	display: flex;
	display-direction: row;
	justify-content: center;


}

img.avatar {
border-radius: 50%;
width:300px; 
height: 300px;
margin: 20px;

}




h1{
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
}
.nav{
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}
.nav_link{
	color: #000;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	text-align: center;
	transition: color .1s linear;
}
.nav_link:hover{
	color: #fce38a;
}

.stick{
	border-color: #FFF;
}

.dateinput{
	width: 150px;
	height: 20px
}



.resultbutton{
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}


.matrixdiv{
	background: linear-gradient(90deg, #afd9f7,#f0f2ff);
	width: 700px;
	height: 700px;
	margin:0 auto;
	padding: 20px;
	border-radius: 10%;
}
.matrix{
	 table-layout: fixed;
	 width: 700px;
	 height: 700px;
}

.matrixelement1{

	text-align:center;
	background-color: #F3F3F3;
	border-radius: 20%;
	width: 20px;
	height: 20px;
	overflow: hidden;
	transition: 0.2s linear;
}

.matrixelement1:hover {
    color: #f598a8; 
   }

.matrixelement2{

	text-align:center;
	background-color: #F8E3D3;
	border-radius: 20%;
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.matrixelement-inner{

	text-align:center;
	background-color: #ECF0F1;
	border-radius: 20%;
	width: 10%;
	height: width;
	overflow: hidden;
}

.matrixelement-content{

	text-align:center;
	background-color: #ECF0F1;
	border-radius: 20%;
	width: 10%;
	height: width;
	overflow: hidden;
}


.bot2 {
    margin:20px auto;
    color: #FFFFFF;
    display: block;
    font:bold 16px arial;
    height: 75px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 200px;
        background: linear-gradient(to bottom, #afd9f7, #FFB3B8) repeat scroll 0 0 / 100% 200% rgba(0, 0, 0, 0);
    transition: all 0.5s linear 0s;
    border-radius: 20%;
}
.bot2:hover,.bot2:focus{
    background-position: 0 -102%;
}




input[type="date"]{
    width: auto;
    font-family: "Roboto Mono",monospace;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border-color: #FFB3B8;
}






.description {
  width: 90%;
  min-width: 700px;
  max-width:1000px;
  height: 80px;
  display: inline-block;
  border: none;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #FFE6E8,#ffffff);
}

.description:after {
  content: '';
  height: 80px;
  display: inline-block;
  vertical-align: middle;

}



.description-alt {
  width: 90%;
  min-width: 700px;
  max-width:1000px;
  height: 80px;
  display: inline-block;
  border: none;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #F8E3D3,#ffffff);
}

.description-alt:after {
  content: '';
  height: 80px;
  display: inline-block;
  vertical-align: middle;

}


.number{
  font-size: 50px;
  width: 80px;
  height: 80px;
  font-weight: bold;
  color: #FFB3B8;
  box-sizing: border-box;
  text-align: center;
  margin-right: 20px;
  border: 1px solid #FFB3B8;
  border-width: 4px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.number2{
  font-size: 50px;
  width: 170px;
  height: 80px;
  font-weight: bold;
  color: #F8CEAE;
  box-sizing: border-box;
  text-align: center;
  margin-right: 20px;
  border: 1px solid #F8CEAE;
  border-width: 4px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

.description-inner{
	 display: inline-block;
     vertical-align: middle;

}


@font-face {
    font-family: 'Fairymuffinroundpop'; 
    src:  url("fonts/Fairymuffinroundpop.ttf");
}
